﻿
@{
    ViewBag.Title = Patilendir.Resource.HayvanHakları;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Patilendir.Resource.HayHakBaslık</h2>
<ul>
    <li>@Patilendir.Resource.HayHak1</li>
    <li>@Patilendir.Resource.HayHak2</li>
    <li>@Patilendir.Resource.HayHak3</li>
    <li>@Patilendir.Resource.HayHak4</li>
    <li>@Patilendir.Resource.HayHak5</li>
    <li>@Patilendir.Resource.HayHak6</li>
    <li>@Patilendir.Resource.HayHak7</li>
    <li>@Patilendir.Resource.HayHak8</li>
    <li>@Patilendir.Resource.HayHak9</li>
    <li>@Patilendir.Resource.HayHak10</li>
    <li>@Patilendir.Resource.HayHak11</li>
    <li>@Patilendir.Resource.HayHak12</li>
    <li>@Patilendir.Resource.HayHak13</li>
    <li>@Patilendir.Resource.HayHak14</li>
</ul>  

