﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery-3.1.1.js"></script>

    <link href="~/Content/slider.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_MenuPartial")

    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_FooterPartial")
    </div>

    <script src="~/Scripts/JS_Arama.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
