﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/Content/Logomakr_3zxoy8.png" class="img img-responsive navbar-brand" />
            @Html.ActionLink("Patilendir", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@Patilendir.Resource.GülenPatiler, "GulenIndex", "Animals")</li>
                <li>@Html.ActionLink(@Patilendir.Resource.ÜzgünPatiler, "UzgunIndex", "Animals")</li>
                <li>@Html.ActionLink(@Patilendir.Resource.KurtarılanPatiler, "IndexKrtrlnlr", "Kurtarilanlar")</li>
                <li>@Html.ActionLink(@Patilendir.Resource.HayvanHakları, "IndexHay_Hak", "Hay_Hak")</li>
                <li> <a href="@Url.Action("Change", "Home", new { language = "TR" })" class="language" rel="tr-TR">TR</a></li>
                <li> <a href="@Url.Action("Change", "Home", new { language = "EN" })" class="language" rel="en-US">EN</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                        <form action="" class="search-form">
                            <div class="form-group has-feedback">
                                <label for="search" class="sr-only">@Patilendir.Resource.Arama</label>
                                <input type="text" class="form-control" name="search" id="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                   
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(@Patilendir.Resource.Çıkış, "Cikis", "LoginRegister")</li>
            </ul>
        </div>

    </div>
</div>
