﻿@{
    ViewBag.Title = Patilendir.Resource.GirişYap;
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<div class="container">
    @if (TempData["LoginResult"] != "")
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style=" background-color:#f1f1f1;">@TempData["LoginResult"]</div>
            <div class="col-md-3"></div>
        </div>
    }


    <div class="row">
        <div class="col-md-3 text-center"> <img class="img img-responsive" src="~/Content/Logomakr_3zxoy8.png" /></div>
        <div class="col-md-6">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">@Patilendir.Resource.GirişYap</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">@Patilendir.Resource.ÜyeOl</a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">

                            @using (Html.BeginForm("LoginTry", "LoginRegister", FormMethod.Post))
                            {
                                <form id="login-form" role="form" style="display: block;">
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="E-Mail" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder=@Patilendir.Resource.Şifre>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value=@Patilendir.Resource.GirişYap />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <div class="col-lg-6 col-md-6">
                            @using (Html.BeginForm("RegisterTry", "LoginRegister", FormMethod.Post))
                            {

                                <form id="register-form" role="form" style="display: none;">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email " value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder=@Patilendir.Resource.Şifre>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder=@Patilendir.Resource.ad value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="surname" id="surname" tabindex="2" class="form-control" placeholder=@Patilendir.Resource.Soyad>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value=@Patilendir.Resource.ŞimdiÜyeOl>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
