﻿@model PatilendirAdminPanel.Models.Animal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PatilendirAdminPanel.Resource.DeleteApproveMessage</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @PatilendirAdminPanel.Resource.AnimalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.YearAsMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearAsMonth)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.ContactTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactTelephone)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.InsertionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertionDate)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.InsertedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertedUserId)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.UpdatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedUserId)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.AnimalStatus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalStatus.Name)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.AnimalType
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType.Name)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@PatilendirAdminPanel.Resource.Delete class="btn btn-default" /> |
            @Html.ActionLink(PatilendirAdminPanel.Resource.BackToList, "Index")
        </div>
    }
</div>
