﻿@model IEnumerable<PatilendirAdminPanel.Models.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PatilendirAdminPanel.Resource.Animals</h2>

<p>
    @Html.ActionLink(PatilendirAdminPanel.Resource.CreateAnimal, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @PatilendirAdminPanel.Resource.AnimalName
        </th>
        <th>
            @PatilendirAdminPanel.Resource.AnimalStatus
        </th>
        <th>
            @PatilendirAdminPanel.Resource.AnimalType
        </th>
        <th>
            @PatilendirAdminPanel.Resource.Gender
        </th>
        <th>
            @PatilendirAdminPanel.Resource.Description
        </th>
        <th>
            @PatilendirAdminPanel.Resource.YearAsMonth
        </th>
        <th>
            @PatilendirAdminPanel.Resource.ContactName
        </th>
        <th>
            @PatilendirAdminPanel.Resource.ContactTelephone
        </th>
        <th>
            @PatilendirAdminPanel.Resource.Image
        </th>
        <th>
            @PatilendirAdminPanel.Resource.InsertionDate
        </th>
        <th>
            @PatilendirAdminPanel.Resource.InsertedUserId
        </th>
        <th>
            @PatilendirAdminPanel.Resource.UpdatedDate
        </th>
        <th>
            @PatilendirAdminPanel.Resource.UpdatedUserId
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalStatus.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearAsMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTelephone)
            </td>
            <td>
                <img class="img-responsive" width="40" height="40" src=@item.Image />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUserId)
            </td>

            <td>
                @Html.ActionLink(@PatilendirAdminPanel.Resource.Edit, "Edit", new { id = item.AnimalId }) |
                @Html.ActionLink(@PatilendirAdminPanel.Resource.Delete, "Delete", new { id = item.AnimalId })
            </td>
        </tr>
    }

</table>
