﻿<link href="~/Content/footer.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left">@PatilendirAdminPanel.Resource.footerYazı<a href="https://www.facebook.com/ipek.altinok">@@ipekAltinok</a></p>
            <div class="pull-right">
                <ul class="social">
                    <li> <a href="https://www.facebook.com/PetsbookOfficial/?fref=ts"> <i class=" fa fa-facebook">   </i> </a> </li>
                    <li> <a href="https://twitter.com/ehayvansahip"> <i class="fa fa-twitter">   </i> </a> </li>
                    <li> <a href="https://www.youtube.com/channel/UCPIvT-zcQl2H0vabdXJGcpg"> <i class="fa fa-youtube">   </i> </a> </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>