﻿@{
    string currentCulture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Patilendir", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@PatilendirAdminPanel.Resource.Animals, "Index", "Animals")</li>
                <li>@Html.ActionLink(@PatilendirAdminPanel.Resource.AdminUsers, "Index", "AdminUsers")</li> 
                <li>@Html.ActionLink(@PatilendirAdminPanel.Resource.Customers, "Index", "Customers")</li> 
                <li> <a href="@Url.Action("Change", "Home", new { language = "TR" })" class="language" rel="it-IT">TR</a></li>
                <li> <a href="@Url.Action("Change", "Home", new { language = "EN" })" class="language" rel="en-US">EN</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink(@PatilendirAdminPanel.Resource.Çıkış, "Cikis", "LoginRegister")</li>
            </ul>

        </div>

    </div>
</div>
