﻿@{
    ViewBag.Title = PatilendirAdminPanel.Resource.Giriş;
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<div class="container">
    @if (TempData["LoginResult"] != "")
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color:#f1f1f1;">@TempData["LoginResult"]</div>
            <div class="col-md-2"></div>
        </div>
    }

    <div class="row">
        <div class="col-md-3 text-center"> <img class="img img-responsive" src="~/Content/Logomakr_3zxoy8.png" /></div>
        <div class="col-md-7">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="active" id="login-form-link">@PatilendirAdminPanel.Resource.GirişYap</a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-7">
                            @using (Html.BeginForm("LoginTry", "LoginRegister", FormMethod.Post))
                            {
                                <form id="login-form" role="form" style="display: block;">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="E-Mail" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder=@PatilendirAdminPanel.Resource.Şifre>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value=@PatilendirAdminPanel.Resource.GirişYap />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
