﻿@model IEnumerable<Patilendir.Models.Animal>

@{
    ViewBag.Title = Patilendir.Resource.GülenPatiler;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">@Patilendir.Resource.GülenPatiler</h1>
        </div>

        @foreach (var item in Model)
        {
            if (@item.StatusId == 1)
            {
                if (@item.AnimalStatusId == 2)
                {
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="@item.Image" alt="@item.Description" />@*resim pathini yemedi*@
                        </a>
                        <p><strong>@item.Name</strong> </p>
                        <p>@item.Description </p>

                        @if (item.AnimalTypeId == 1)
                        {
                            <p>@Patilendir.Resource.Type: @Patilendir.Resource.Dog </p>
                        }
                        else
                        {
                            <p>@Patilendir.Resource.Type: @Patilendir.Resource.Cat </p>
                        }

                        @if (item.GenderId == 1)
                        {
                            <p>@Patilendir.Resource.Gender: @Patilendir.Resource.Male </p>
                        }
                        else
                        {
                            <p>@Patilendir.Resource.Gender: @Patilendir.Resource.Female </p>
                        }

                        <p>@Patilendir.Resource.ContactName: @item.ContactName</p>
                        <p>@Patilendir.Resource.Telephone: @item.ContactTelephone </p>
                    </div>
                }
            }
        }
    </div>
</div>
<!-- /.container -->
