﻿@{
    ViewBag.Title = "Patilendir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@PatilendirAdminPanel.Resource.SendePatilen</h2>
<div class="row">
    <div class="col-sm-10">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- begin panel group -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <!-- panel 1 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h4 class="panel-title">@PatilendirAdminPanel.Resource.Tab1</h4>
                                </div>
                            </span>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <!-- tab content goes here -->
                                   @PatilendirAdminPanel.Resource.Tab1Acıklama
                                </div>
                            </div>
                        </div>
                        <!-- / panel 1 -->
                        <!-- panel 2 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title collapsed">@PatilendirAdminPanel.Resource.Tab2</h4>
                                </div>
                            </span>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <!-- Tab content goes here -->
                                  @PatilendirAdminPanel.Resource.Tab2Acıklama
                                </div>
                            </div>
                        </div>
                        <!-- / panel 2 -->
                        <!--  panel 3 -->
                        <div class="panel panel-default">
                            <!--wrap panel heading in span to trigger image change as well as collapse -->
                            <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title">@PatilendirAdminPanel.Resource.Tab3</h4>
                                </div>
                            </span>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <!-- Tab content goes here -->
                                    @PatilendirAdminPanel.Resource.Tab3Acıklama
                                </div>
                            </div>
                        </div>
                    </div> <!-- / panel-group -->
                </div> <!-- /col-md-4 -->

                <div class="col-md-8">
                    <!-- begin macbook pro mockup -->
                    <div class="md-macbook-pro md-glare">
                        <div class="md-lid">
                            <div class="md-camera"></div>
                            <div class="md-screen">
                                <!-- content goes here -->
                                <div class="tab-featured-image">
                                    <div class="tab-content">
                                        <div class="tab-pane  in active" id="tab1">
                                            <img src="~/Content/Images/sariOglan.jpg" alt="tab1" class="img img-responsive">
                                        </div>
                                        <div class="tab-pane " id="tab2">
                                            <img src="~/Content/Images/cat9.jpg">
                                        </div>
                                        <div class="tab-pane fade" id="tab3">
                                            <img src="~/Content/Images/mavis.jpg" alt="tab1" class="img img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md-base"></div>
                    </div> <!-- end macbook pro mockup -->

                </div> <!-- / .col-md-8 -->
            </div> <!--/ .row -->
        </div> <!-- end sidetab container -->
    </div>

    <div class="col-sm-2">

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">@PatilendirAdminPanel.Resource.Close</span></button>
            <h2 onclick="location.href='https://www.facebook.com/hayvan.koruma.dernegi/?fref=ts';">@PatilendirAdminPanel.Resource.TıklaGör</h2>
        </div>
        <br />
    </div>



</div>