﻿@{
    ViewBag.Title =Patilendir.Resource.KurtarılanPatiler;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Patilendir.Resource.patilerdenKesitler</h2>
<div class="container">
    <div class="row">
        @*<ul class="thumbnails">*@
        <div class=" col-md-6">

            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık1</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama1</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=qw7c64lpdBo">@Patilendir.Resource.incele</a></p>
                </div>
            </div>




            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık2</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama2</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=kHnlImMZtcw" class="btn btn-primary btn-block">@Patilendir.Resource.incele</a></p>
                </div>
            </div>



            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık3</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama3</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=f-KrDhk0NL8" class="btn btn-primary btn-block">@Patilendir.Resource.incele</a></p>
                </div>
            </div>
        </div>


        <div class=" col-md-6">

            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık4</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama4</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=25Jo-DPfYWg" class="btn btn-primary btn-block">@Patilendir.Resource.incele</a></p>
                </div>
            </div>


            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık5</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama5</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=dB-0FssSKmI" class="btn btn-primary btn-block">@Patilendir.Resource.incele</a></p>
                </div>
            </div>


            @*<li class="span4">*@
            <div class="thumbnail">
                <img src="~/Content/Images/cat9.jpg" alt="ALT NAME">
                <div class="caption">
                    <h3>@Patilendir.Resource.KurtarılanBaslık6</h3>
                    <p>@Patilendir.Resource.KurtarılanAcıklama6</p>
                    <p align="center"><a href="https://www.youtube.com/watch?v=gLp89Pv3MAE" class="btn btn-primary btn-block">@Patilendir.Resource.incele</a></p>
                </div>
            </div>
        </div>
        @*</li>*@

        @*</ul>*@
    </div>
</div>

