﻿@model PatilendirAdminPanel.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PatilendirAdminPanel.Resource.DeleteApproveMessage</h2>

<h3></h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @PatilendirAdminPanel.Resource.CustomerName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.CustomerSurname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @PatilendirAdminPanel.Resource.InsertionDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertionDate)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@PatilendirAdminPanel.Resource.Delete class="btn btn-default" /> |
            @Html.ActionLink(PatilendirAdminPanel.Resource.BackToList, "Index")
        </div>
    }
</div>
