﻿@model IEnumerable<PatilendirAdminPanel.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@PatilendirAdminPanel.Resource.Customers</h2>

<table class="table">
    <tr>
        <th>
            @PatilendirAdminPanel.Resource.CustomerName
        </th>
        <th>
            @PatilendirAdminPanel.Resource.CustomerSurname
        </th>
        <th>
            @PatilendirAdminPanel.Resource.Email
        </th>
        <th>
            @PatilendirAdminPanel.Resource.InsertionDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertionDate)
        </td>
        <td>
            @Html.ActionLink(PatilendirAdminPanel.Resource.Delete, "Delete", new { id = item.CustomerId })
        </td>
    </tr>
}

</table>
